/* Atributes of page body */
body {
    background-color: rgb(22, 21, 21);
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}







/* Page Grid Layout */
.page-grid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr ;
    grid-template-columns: 1fr;
    row-gap: 100px;
    width: 100%;
}




/* HomePage */
.home-page-grid {
    display: grid;
    grid-template-columns: 1fr 1.7fr;
    background-color: white;
    font-family: roboto;
    box-shadow: 10px 25px 25px rgb(0, 0, 0);
    column-gap: 40px;
    
    
    
    
}
.home-page-photo {
    width: 100%;
    
    padding-bottom: 0px;
    margin-bottom: 0px;
    display: flex;
}
.home-page-photo-container {
    display: flex;
    align-items: flex-end;
}
.home-page-text {
    margin-right: 40px;
    margin-top: 75px;
    
    margin-bottom: 40px;
    width: 100%
    
}
.greeting-text {
    font-weight: 1;
    font-size: 80px;
    
   
}
.greeting-text-name {
    font-size: 100px;
    line-height: 15px;
    width: 100%;
    
}
.jason-text{
    color: rgb(8, 94, 8);
    
}
.bio-text {
    font-size: 25px;
    width: 800px;
    
}
.resume-text {
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size:21px;
    color: white;
    background-color:rgb(22, 21, 21) ;
    box-shadow: 10px 10px 20px rgb(22, 21, 21) ;
}
.resume-link {
    color: white;
    text-decoration: underline;
    cursor: pointer;
    
}
@media only screen and (max-width: 1200px) {
    .home-page-photo-container {
        display: none;

    }
    .home-page-text {
        margin-left: 60px;
    }
}




/* About Page */
.about-page-grid {
    background-color: black;
    color: aliceblue;
    font-family: roboto;
    box-shadow: 10px 25px 25px rgb(0, 0, 0);
}

/* Portfolio Page */
.portfolio-page-grid {
    background-color: aliceblue;
    font-family: roboto;
    box-shadow: 10px 25px 25px rgb(0, 0, 0);
}

/* Contact Page */
.contact-page-grid {
    background-color: black;
    color: aliceblue;
    font-family: roboto;
    box-shadow: 10px 25px 25px rgb(0, 0, 0);
}
