/* Atributes of page body */
body {
    background-color: rgb(22, 21, 21);
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}







/* Page Grid Layout */
.page-grid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr ;
    grid-template-columns: 1fr;
    row-gap: 100px;
}




/* HomePage */
.home-page-grid {
    display: grid;
    grid-template-columns: 1fr 1.7fr;
    background-color: aliceblue;
    font-family: roboto;
    box-shadow: 10px 25px 25px rgb(0, 0, 0);
    column-gap: 40px;
    
    
}
.home-page-photo {
    width: 100%;
    vertical-align: bottom;
    padding-bottom: 0px;
    margin-bottom: 0px;

}
.home-page-text {
    margin-right: 40px;
    margin-top: 75px;
    width: 100%

    
}
.greeting-text {
    font-weight: 1;
    font-size: 80px;
    
   
}
.greeting-text-name {
    font-size: 100px;
    line-height: 15px;
    width: 100%;
    
}
.jason-text{
    color: rgb(8, 94, 8);
    
}
.bio-text {
    font-size: 25px;
    width: 800px;
    
}
.resume-text {
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size:21px;
    color: aliceblue;
    background-color:rgb(22, 21, 21) ;

}




/* About Page */
.about-page-grid {
    background-color: black;
    color: aliceblue;
    font-family: roboto;
    box-shadow: 10px 25px 25px rgb(0, 0, 0);
}

/* Portfolio Page */
.portfolio-page-grid {
    background-color: aliceblue;
    font-family: roboto;
    box-shadow: 10px 25px 25px rgb(0, 0, 0);
}

/* Contact Page */
.contact-page-grid {
    background-color: black;
    color: aliceblue;
    font-family: roboto;
    box-shadow: 10px 25px 25px rgb(0, 0, 0);
}
